# {{ package.title }}

[![License](https://img.shields.io/badge/license-Public%20Domain-blue.svg)](https://unlicense.org)
[![Compatibility](https://img.shields.io/badge/rust-1.93%2B-blue)](https://blog.rust-lang.org/2026/01/22/Rust-1.93.0/)
[![Package](https://img.shields.io/crates/v/{{ package.name }})](https://crates.io/crates/{{ package.name }})
[![Documentation](https://img.shields.io/docsrs/{{ package.name }}?label=docs.rs)](https://docs.rs/{{ package.name }})

{% if package.name == "asimov-sdk" -%}
**[ASIMOV] is a polyglot development platform for
[trustworthy neurosymbolic machine intelligence].**
{%- else -%}
This package is part of [ASIMOV.rs], a polyglot development platform
for [trustworthy neurosymbolic machine intelligence].
{%- endif %}

<br/>

<sub>

[[Features](#-features)] |
[[Prerequisites](#%EF%B8%8F-prerequisites)] |
[[Installation](#%EF%B8%8F-installation)] |
[[Examples](#-examples)] |
[[Reference](#-reference)] |
[[Development](#%E2%80%8D-development)]

</sub>

## ✨ Features

- Defines [flow-based] [program patterns] for refining data into knowledge.
- Implements a [module system] enabling an ecosystem of [modules].
- Enables dataflow systems through reusable components called blocks.
- Compatible with the inventory of dataflow blocks provided by [Flows.rs].
- Built on the dataflow primitives provided by the [Async-Flow] crate.
- Supports opting out of any feature using comprehensive feature flags.
- Adheres to the Rust API Guidelines in its [naming conventions].
- Cuts red tape: 100% free and unencumbered public domain software.

## 🛠️ Prerequisites

- [Rust](https://rust-lang.org) 1.93+ (2024 edition)

## ⬇️ Installation

### Installation via Cargo

```bash
{%- if package.name == "asimov-sdk" %}
cargo add asimov-sdk --rename asimov
{%- else %}
cargo add {{ package.name }}
{%- endif %}
```

### Installation in `Cargo.toml`

```toml
[dependencies]
{%- if package.name == "asimov-sdk" %}
asimov = { package = "asimov-sdk", version = "25" }
{%- else %}
{{ package.name }} = { version = "25" }
{%- endif %}
```

Alternatively, enable only specific features:

```toml
[dependencies]
{%- if package.name == "asimov-sdk" %}
asimov = { package = "asimov-sdk", version = "25", default-features = false, features = ["tracing"] }
{%- else %}
{{ package.name }} = { version = "25", default-features = false, features = ["tracing"] }
{%- endif %}
```

## 👉 Examples

{% include "examples.md.j2" %}

## 📚 Reference

[docs.rs/{{ package.name }}](https://docs.rs/{{ package.name }})

### Packages

{% include "../../.cargo/packages.md" %}

### Glossary

- **System**: A collection of blocks that are connected together.
  Systems are the top-level entities in dataflow programs.

- **Block**: An encapsulated system component that processes messages.
  Blocks are the autonomous units of computation in a system.

- **Port**: A named connection point on a block that sends or receives
  messages. Ports are the only interfaces through which blocks communicate
  with each other.

- **Message**: A unit of data that flows between blocks in a system, from port
  to port. Any Rust type that implements the `Send + Sync + 'static` traits can
  be used as a message.

## 👨‍💻 Development

```bash
git clone https://github.com/asimov-platform/asimov.rs.git
```

---

[![Share on X](https://img.shields.io/badge/share%20on-x-03A9F4?logo=x)](https://x.com/intent/post?url=https://github.com/asimov-platform/asimov.rs&text=ASIMOV%20Software%20Development%20Kit%20%28SDK%29%20for%20Rust)
[![Share on Reddit](https://img.shields.io/badge/share%20on-reddit-red?logo=reddit)](https://reddit.com/submit?url=https://github.com/asimov-platform/asimov.rs&title=ASIMOV%20Software%20Development%20Kit%20%28SDK%29%20for%20Rust)
[![Share on Hacker News](https://img.shields.io/badge/share%20on-hn-orange?logo=ycombinator)](https://news.ycombinator.com/submitlink?u=https://github.com/asimov-platform/asimov.rs&t=ASIMOV%20Software%20Development%20Kit%20%28SDK%29%20for%20Rust)
[![Share on Facebook](https://img.shields.io/badge/share%20on-fb-1976D2?logo=facebook)](https://www.facebook.com/sharer/sharer.php?u=https://github.com/asimov-platform/asimov.rs)
[![Share on LinkedIn](https://img.shields.io/badge/share%20on-linkedin-3949AB?logo=linkedin)](https://www.linkedin.com/sharing/share-offsite/?url=https://github.com/asimov-platform/asimov.rs)

[ASIMOV]: https://asimov.sh
[ASIMOV.rs]: https://github.com/asimov-platform/asimov.rs
[Async-Flow]: https://github.com/artob/async-flow
[Flows.rs]: https://github.com/artob/flows.rs
[flow-based]: https://github.com/artob/awesome-fbp
[naming conventions]: https://rust-lang.github.io/api-guidelines/naming.html
[modules]: https://github.com/asimov-modules
[module system]: https://asimov-specs.github.io/
[program patterns]: https://asimov-specs.github.io/program-patterns/
[trustworthy neurosymbolic machine intelligence]: https://asimov.blog/introducing-asimov/
