### Importing the Library

```rust
use {{ package.name | replace("-", "_") }}::*;
```

### Printing Local Paths

```rust
{% include "examples/print_paths.rs" %}
```

### Listing Installed Modules

```rust
{% include "examples/list_modules.rs" %}
```
